# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/

# Android
**/.gradle/
**/local.properties
**/captures/
**/*.jks
**/*.keystore
android/secrets.properties
android/local.defaults.properties

# IDE
**/.idea/
**/*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Google Maps secrets
mobile/descarte_inteligente/android/secrets.properties
mobile/descarte_inteligente/android/local.defaults.properties